<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div layout="column" class="maincontainer" >
	<div layout-padding md-theme="docs-dark">
		<div layout="row" layout-align="center">
			<h1 class="md-headline">CONTACT ITPEOPLENETWORK</h1>
		</div>
		<div layout-align="start" layout="row"> 
			<form layout="column" flex="50">
				<md-input-container>
					<label>First Name</label>
					<input type="text">
				</md-input-container>
				<md-input-container>
					<label>Last Name</label>
					<input type="text">
				</md-input-container>
				<md-input-container>
					<label>Email</label>
					<input type="email" name="email">
				</md-input-container>
				<md-input-container>
					<label>Subject</label>
					<input type="text">
				</md-input-container>
				<md-input-container>
					<label>Message</label>
					<textarea md-select-on-focus></textarea>
				</md-input-container>
				<md-button class="md-raised md-accent">
					Submit
			</md-button>	
			</form>
			<div layout="column" layout-align="start">
				<md-button class="md-icon-button "></md-button>
			</div>
		</div>
	</div>
</div>
</body>
</html>