<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="maincontainer">
		<md-content class="md-padding" layout-xs="column" layout="column">
			<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<md-nav-item><img src="images/rsz_picture5.png" width="300" height="50"></md-nav-item>
		    <md-nav-item md-nav-click="goto('page1')" name="page1">Home</md-nav-item>
		    <md-nav-item md-nav-click="goto('page2')" name="page2">Services</md-nav-item>
		    <md-nav-item md-nav-click="goto('page3')" name="page3">Clients</md-nav-item>
		    <md-nav-item md-nav-href="#/key" name="page4">Key Executives</md-nav-item>
		    <md-nav-item md-nav-href="#page5" name="page5">News / Blog</md-nav-item>
		    <md-nav-item md-nav-href="#page5" name="page5">Contact</md-nav-item>
		    <md-nav-item md-nav-href="#page5" name="page5">Locations</md-nav-item>
		    <md-nav-item md-nav-href="#page5" name="page5">Careers</md-nav-item>   
    	</md-nav-bar>
			<div layout="row" layout-align="center">
				<md-card md-theme="dark-blue" md-theme-watch>
					<md-card-title>
						<md-card-title-media>
	            			<div class="md-media-md card-media">
	            				<img src="images/amit.jpeg" >
	            			</div>
          				</md-card-title-media>
						<md-card-title-text>
							<span class="md-headline">Amit Dutta</span>
							<span class="md-subhead">CHEIF EXECUTIVE OFFICER</span>
						</md-card-title-text>
					</md-card-title>
				</md-card>
			</div>
			<div layout="row" layout-align="center">
				<md-card md-theme="dark-blue" md-theme-watch>
					<md-card-title>
						<md-card-title-media>
	            			<div class="md-media-md card-media">
	            				<img src="images/amit.jpeg" >
	            			</div>
          				</md-card-title-media>
						<md-card-title-text>
							<span class="md-headline">Madhu Vaish</span>
							<span class="md-subhead">DIRECTOR OFOFFICE ADMINISTRATION</span>
						</md-card-title-text>
					</md-card-title>
				</md-card>
				<md-card md-theme="dark-blue" md-theme-watch>
					<md-card-title>
						<md-card-title-media>
	            			<div class="md-media-md card-media">
	            				<img src="images/amit.jpeg" >
	            			</div>
          				</md-card-title-media>
						<md-card-title-text>
							<span class="md-headline">James Sherman</span>
							<span class="md-subhead">CHEIF FINANCIAL OFFICER</span>
						</md-card-title-text>
					</md-card-title>
				</md-card>
			</div>
			<div layout="row" layout-align="center">
				<md-card md-theme="dark-blue" md-theme-watch>
					<md-card-title>
						<md-card-title-media>
	            			<div class="md-media-md card-media">
	            				<img src="images/amit.jpeg" >
	            			</div>
          				</md-card-title-media>
						<md-card-title-text>
							<span class="md-headline">Richard Mattox</span>
							<span class="md-subhead">VP of INFRASTRUCTURE AND SECURITY</span>
						</md-card-title-text>
					</md-card-title>
				</md-card>
				<md-card md-theme="dark-blue" md-theme-watch>
					<md-card-title>
						<md-card-title-media>
	            			<div class="md-media-md card-media">
	            				<img src="images/amit.jpeg" >
	            			</div>
          				</md-card-title-media>
						<md-card-title-text>
							<span class="md-headline">Tony McDonald</span>
							<span class="md-subhead">VP OF SERVICE & DELIVERY</span>
						</md-card-title-text>
					</md-card-title>
				</md-card>
				<md-card md-theme="dark-blue" md-theme-watch>
					<md-card-title>
						<md-card-title-media>
	            			<div class="md-media-md card-media">
	            				<img src="images/amit.jpeg" >
	            			</div>
          				</md-card-title-media>
						<md-card-title-text>
							<span class="md-headline">Sandeep Lohande</span>
							<span class="md-subhead">VP, CONSUMER & RETAIL</span>
						</md-card-title-text>
					</md-card-title>
				</md-card>
			</div>
		</md-content>
	</div>
</body>
</html>