<html>
<body layout="column" layout-margin layout-padding>
	<div layout-margin layout-padding flex layout="column" class="maincontainer">
		<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<md-nav-item><img src="images/rsz_picture5.png" width="300" height="50"></md-nav-item>
		    <md-nav-item md-nav-click="goto('page1')" name="page1">Home</md-nav-item>
		    <md-nav-item md-nav-click="goto('page2')" name="page2">Services</md-nav-item>
		    <md-nav-item md-nav-click="goto('page3')" name="page3">Clients</md-nav-item>
		    <md-nav-item md-nav-href="#/key" name="page4">Key Executives</md-nav-item>
		    <md-nav-item md-nav-href="#page5" name="page5">News / Blog</md-nav-item>
		    <md-nav-item md-nav-href="#/contact-us">Contact</md-nav-item>
		    <md-nav-item md-nav-href="#page5" name="page5">Locations</md-nav-item>
		    <md-nav-item md-nav-href="#page5" name="page5">Careers</md-nav-item>   
    	</md-nav-bar>
		<div layout="row" class="coreindustries-block">
			<div flex="33" class="sticky-wrapper">
				<h2>CORE INDUSTRIES</h2>
				<p>Beyond the insights, we can help you execute. Our senior leaders stand by your side or take the helm to get you through the challenges you face.</p>
			</div>
			<div flex="66" class="page-wrapper" layout-padding layout-margin>
				<div layout = "column">
					<div layout="row">
						<div flex="39" class="image"><img src="images/computer_people_16_500x333-300x200.png" width="250" height="200"></div>
						<div flex="60" class="text">
							<h3>Advisory & Consulting</h3>
							<p>Economic pressures, aggressive lending and increased risks can result in a wave of troubled balance sheets, prompting regulators to place heightened scrutiny on financial institutions. Our experience with developing and executing resolution and recovery strategies in line with regulatory expectations is global in reach and firsthand in nature.</p>
						</div>
					</div>
					<div layout="row">
						<div flex="39"><img src="images/itsecurity-1-444x360.png" width="250" height="200"></div>
						<div flex="60">
							<h3>IT Security Services</h3>
							<p>We provide wide a range of IT Security services and Certified IT security professionals with pioneering expertise to help organizations safeguard their critical assets (infrastructure, data, identity & access management, applications etc.) by identifying, protecting and adequately responding to security threats.</p>
						</div>
					</div>
					<div layout="row">
						<div flex="39"><img src="images/severs_500x333.png" width="250" height="200"></div>
						<div flex="60">
							<h3>Infrastructure Services</h3>
							<p>We provide end to end Infrastructure consulting services and technology expertise that helps organizations promptly respond to dynamic business
                                      needs through adoption of latest the technology solutions, industry best practices and modernization of IT infrastructure.</p>
						</div>
					</div>
					<div layout="row">
						<div flex="39"><img src="images/computer_people_9_500x333.png" width="250" height="200"></div>
						<div flex="60">
							<h3>Application Services</h3>
							<p>We provide end to end Application consulting services and technology expertise that helps organizations with their Application Development / Maintenance / Support, Enterprise Package Software Implementation and Testing needs across cloud, mobility, web and other enabling technologies.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</div> <!-- /.maincontainer -->
<div layout="row" style="bottom:0;position: relative;">
			<div layout="row" flex>
				<div flex="33" layout="row">
					<a href="#">Home</a>
					·
					<a href="#">Services</a>
					·
					<a href="#">Clients</a>
					·
					<a href="#">News/Blog</a>
					·
					<a href="#">Contact</a>
					·
					<a href="#">Careers</a>
				</div>
				<div flex="33" layout="column" layout-align="start">
					<div layout="row">
						<md-icon><i class="material-icons">room</i></md-icon>
						<p><span>2800 Beverly Dr </span> Aurora, IL, USA</p>
					</div>
					<div layout="row">
						<md-icon><i class="material-icons">settings_phone</i></md-icon>
						<p>+1 630 566 8780</p>
					</div>
					<div layout="row">
						<md-icon><i class="material-icons">email</i></md-icon>
						<p><a href="mailto:support@company.com">info@itpeoplenetwork.com</a></p>
					</div>
				</div>
			</div>
		</div>
</body>
<head>
</head>
</html>